<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Static files-->
    <link rel="stylesheet" href="static/style.css"/>

    <title>Home</title>

</head>

<body>
    <div id="container">
        <a href="#" id="uploadFile">Upload CSV File</a>
        <a href="#" id="randomData">Random Data</a>
        <form id="uploadCSVContainer" action="/" method="POST" accept-charset="utf-8" enctype="multipart/form-data"">
            <label for="uploadSCV">Upload the CSV file</label>
            <input type="file" name="CSVfile" id="uploadCSV">
            <button id="checkUploadedCSV">Check</button>  
        </form>
        <div id="randomCSVContainer">
            <a href="/output/random" id="checkRandomCSV">Check</a>
        </div>
    </div>
    <script>
        const body = document.body;
        const container = document.getElementById("container")
        const uploadBtn = document.getElementById("uploadFile");
        const randomBtn = document.getElementById("randomData");
        const uploadCSVContainer = document.getElementById("uploadCSVContainer");
        const randomCSVContainer = document.getElementById("randomCSVContainer");
        uploadBtn.addEventListener("click", () => {
            uploadBtn.style.display = "none";
            randomBtn.style.display = "none";
            randomCSVContainer.style.display = "none";
            uploadCSVContainer.style.display = "block";
        })
        randomData.addEventListener("click", () => {
            uploadBtn.style.display = "none";
            randomBtn.style.display = "none";
            uploadCSVContainer.style.display = "none";
            randomCSVContainer.style.display = "block";
        })
    </script>
</body>
</html>